<main-header
  [links]="links" 
  [names]="names">
</main-header>

<parallax class="bg0"></parallax>

<section id="section-0" class="story-section content-section">
  <div class="inner">
    <h3>
      <img src="assets/hearts.png" />
      Our Story
    </h3>
    <p>
      Kansas City is a small-big town, we had so many mutual friends but
      had never met. Heather's profile picture captured Austin's eye
      one day as he was on Facebook, after a few messages back and forth
      we met for a lunch date and were inseparable even since.
    </p>
  </div>
</section>

<parallax class="bg1"></parallax>

<section id="section-1" class="where-section content-section">
  <div class="inner">
    <h3>
      <img src="assets/travel.png" />
      The Wedding
    </h3>
    <div class="col col-md-3">
      <h3>Engagement</h3>
    </div>
    <div class="col col-md-3">
      <h3>Cerimony</h3>
    </div>
    <div class="col col-md-3">
       <h3>Reception</h3>
    </div>
    <div class="map">
    </div>
    
  </div>
</section>

<parallax class="bg2"></parallax>

<section id="section-2" class="travel-section content-section">
  <div class="inner">
    <h3>
      <img src="assets/travel.png" />
      Our Loved Ones
    </h3>
    
    <p>With 2 different airports close by, you can choose
    between: <a href="http://www.fll.net" target="_blank">Fort Lauderdale–Hollywood International Airport</a> or
    <a href="http://www.pbia.org" target="_blank">Palm Beach International Airport</a></p>
    
    <p>
      Delray Beach is a gorgeous destination with so many
      options for accomodations, we decided to leave
      it up to the guests to pick their accomodations. A few
      recommended choices are: 
      <a href="http://www.marriott.com/hotels/travel/pbidr-delray-beach-marriott" target="_blank">Delray Beach Marriott</a>, 
      <a href="http://www.marriott.com/hotels/travel/pbiri-residence-inn-delray-beach" target="_blank">Residence Inn Delray Beach</a> 
      or <a href="http://www.theseagatehotel.com" target="_blank">The Seagate Hotel and Spa</a>.
    </p>
    
  </div>
</section>


